@model DataObjects.Entities.tStatusMember
@{
    ViewBag.Title = "Create Status Member";
}
<!-- BEGIN PAGE HEADER-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Master <small>Status Member</small></h1>
    </div>
</div>

@Html.Partial("_pageBreadcrumbs")
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN FORM PORTLET-->
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus"></i> Tambah Status Member
                        </div>
                        <div class="tools">
                            <a href="" class="collapse">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Html.BeginForm("CreateCancel", "StatusAction", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.STKet, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(s => s.STKet, new { @class = "form-control input-medium", placeholder = "Status Member", @readonly = true })
                                        @Html.ValidationMessageFor(s => s.STKet)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.SPrice, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(s => s.SPrice, new { @class = "form-control input-medium auto text-right", placeholder = "Price" })
                                        @Html.ValidationMessageFor(s => s.SPrice)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.SPeriod, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(s => s.SPeriod, new { @class = "form-control input-medium text-right", @readonly = true, placeholder = "Period", value = DateTime.Now.ToString("yyyyMM") })
                                        @Html.ValidationMessageFor(s => s.SPeriod)
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-9">
                                        <button type="submit" class="btn btn-circle green bold"><i class="fa fa-check"></i> Simpan</button>
                                        <a href="@Url.Action("Index", "StatusAction")" class="btn btn-circle red bold"><i class="fa fa-times"></i> Batal</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTENT-->
@section Scripts {
    @Scripts.Render("~/bundle/script/jqueryval")
    <script>

        $(function () {
            //Metronic.init(); // init metronic core components
            //Layout.init(); // init current layout
            function setMask(lookUp) {
                $(lookUp)
                    .inputmask('decimal',
                    {
                        radixPoint: ',',
                        groupSeparator: '.',
                        autoGroup: true,
                        digits: 2,
                        digitsOptional: true
                    });
            }

            setMask(".auto");
        });

    </script>
}
