@model DataObjects.Entities.tCardStatu

@{
    ViewBag.Title = "Card Status";
}


<!-- BEGIN BREADCRUMBS -->
<div class="breadcrumbs">
    <h1>@ViewBag.Title</h1>
    @Html.Partial("_pageBreadcrumbs")
</div>
<!-- END BREADCRUMBS -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "CardStatus", FormMethod.Post, new { @class = "form-horizontal form-row-seperated" }))
        {
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>New Card Status
                    </div>
                    <div class="actions btn btn-set">
                        <a class="btn btn-default" href="@Url.Action("Index")">
                            <i class="fa fa-angle-left"></i> Back
                        </a>
                        <button type="reset" id="formreset" class="btn btn-secondary-outline reset">
                            <i class="fa fa-reply"></i> Reset
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <div class="btn-group">
                            <a class="btn btn-success dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-share"></i> More
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> Duplicate </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Delete </a>
                                </li>
                                <li class="dropdown-divider"> </li>
                                <li>
                                    <a href="javascript:;"> Print </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-bordered">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_general" data-toggle="tab"> General </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Name:
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.CardStatus, new {@class = "form-control"})
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.CardStatus)</span>
                                            <span class="help-block">Card status name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Desc:
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.CardDesc, new {@class = "form-control"})
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.CardDesc)</span>
                                            <span class="help-block">Description for this status</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Finished:
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-10">
                                            @Html.CheckBoxFor(m => m.FinalStatus, new {@class = "make-switch switch-large"})
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.FinalStatus)</span>
                                            <span class="help-block">Identify final statu</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
<!-- END PAGE CONTENT-->
@section Scripts {
    @Scripts.Render("~/bundle/script/jqueryval")
    <script>

        $(function () {
            //Metronic.init();// init metronic core components
            //Layout.init(); // init current layout
        });

    </script>
}
