@model DataObjects.Entities.tLocFitnessCenter
@{
    ViewBag.Title = "Details Lokasi";
}

<!-- BEGIN PAGE HEADER-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Detail Master <small>Lokasi</small></h1>
    </div>
</div>

@Html.Partial("_pageBreadcrumbs")
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="portlet-body form">
            <form class="form-horizontal" role="form">
                <div class="form-body help-block">
                    <div class="form-group">
                        @Html.LabelFor(l => l.LocationID, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            <p class="form-control-static bold">
                                : @Html.DisplayFor(l => l.LocationID)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(l => l.LAlamat, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            <p class="form-control-static bold">
                                : @Html.DisplayFor(l => l.LAlamat)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(l => l.LTlp, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            <p class="form-control-static bold">
                                : @Html.DisplayFor(l => l.LTlp)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(l => l.LFax, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            <p class="form-control-static bold">
                                : @Html.DisplayFor(l => l.LFax)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(l => l.LAuth, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            <p class="form-control-static bold">
                                : @Html.DisplayFor(l => l.LAuth)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(l => l.LSpatial, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            <p class="form-control-static bold">
                                : @Html.DisplayFor(l => l.LSpatial)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-9">
                            <a href="@Url.Action("Index", "LocFitnessCenter")" class="btn btn-circle green bold"><i class="fa fa-arrow-left"></i> Kembali</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END  FORM PORTLET-->
</div>

<!-- END PAGE CONTENT-->
@section Scripts {
    <script>

        $(function () {
            //Metronic.init(); // init metronic core components
            //Layout.init(); // init current layout
        });

    </script>
}
