@{

    ViewBag.Title = "Calon Member Index";
}

<!-- BEGIN PAGE HEADER-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Register <small>Calon Member</small></h1>
    </div>
</div>



<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Register Calon Member</a>
        <i class="fa fa-circle"></i>
    </li>
</ul>



<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">

        <div class="row margin-bottom-20">
            <div class="col-md-12">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="@Url.Action("CreateCM", "CalonMember")" class="btn green">
                                    Add New <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#">
                                            Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("myId")
                <table class="table table-striped table-bordered table-hover" id="TableCM">
                    <thead>
                        <tr role="row" class="heading">
                            <th>
                                No
                            </th>
                            <th>
                                Nama
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Alamat
                            </th>
                            <th>
                                Telepon
                            </th>
                            <th>
                                HP
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        <tr role="row" class="filter">
                            <td></td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="columns[1]FilterSearch">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="columns[2]FilterSearch">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="columns[3]FilterSearch">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="columns[4]FilterSearch">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="columns[5]FilterSearch">
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i>Search</button>
                                </div>
                                <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i>Reset</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.modal status -->
            <div class="modal fade" id="mStatus" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title bold"><span id="modalHead"></span></h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <a href="@Url.Action("CreateAct", "CalonMember")" class="btn green addAct">
                                                <i class="fa fa-plus"></i> Add New
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="dtStatus">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Sales Action
                                        </th>
                                        <th>
                                            Sales Status
                                        </th>
                                        <th>
                                            Note
                                        </th>
                                    </tr>
                                    <tr role="row" class="filter">
                                        <td></td>
                                        <td>
                                            <input type="text" class="form-control form-filter input-sm" name="columns[1]FilterSearch">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter input-sm" name="columns[2]FilterSearch">
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i>Search</button>
                                            </div>
                                            <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i>Reset</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /. end Modal status -->

        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
@section scripts {
    <script>

        var loadDDL = null;

        $(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout


            var grid = new Datatable();

            grid.init({
                src: $("#TableCM"),
                onSuccess: function (grid) {
                    //alert('sucsess');
                },
                onError: function (grid) {
                    //alert('fail');
                },
                loadingMessage: 'Loading...',
                dataTable: { // here you can define a typical datatable settings from http://datatables.net/usage/options

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/scripts/datatable.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>r>t<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",

                    "lengthMenu": [
                        [10, 20, 50, 100, 150],
                        [10, 20, 50, 100, 150] // change per page values here
                    ],
                    "pageLength": 10, // default record count per page
                    "ajax": {
                        "url": "@Url.Action("CMResult", "CalonMember")", // ajax source
                    },
                    "columns": [
                   { "name": "No" },
                   { "name": "Person.PNama" },
                   { "name": "Person.PGender" },
                   { "name": "Person.PAlamat" },
                   { "name": "Person.PTelp" },
                   { "name": "Person.PHP1" },
                   {
                       "data": 2,
                       "render": function (data) {
                           var d = data;
                           return '<a id="btnMembership"><i class="fa fa-pencil"></i> Action</a>';
                       },
                       "orderable": false,
                       "width": "5%"
                   },
                    ],
                    "order": [
                        [1, "asc"]
                    ] // set first column as a default sort by asc
                }
            });

            var gridStatus = new Datatable();
            gridStatus.init({
                src: $("#dtStatus"),
                onSuccess: function (gridStatus) {
                    //alert('sucsess');
                },
                onError: function (gridStatus) {
                    //alert('fail');
                },
                loadingMessage: 'Loading...',
                dataTable: { // here you can define a typical datatable settings from http://datatables.net/usage/options

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/scripts/datatable.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>r>t<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",

                    "lengthMenu": [
                        [10, 20, 50, 100, 150],
                        [10, 20, 50, 100, 150] // change per page values here
                    ],
                    "pageLength": 10, // default record count per page
                    "ajax": {
                        "url": "@Url.Action("ActResult", "CalonMember")", // ajax source
                    },
                    "columns": [
                     {
                         "orderable": false,
                         "width": "80%"
                     },
                     {
                         "orderable": false,
                         "width": "80%"
                     },
                     {
                         "orderable": false,
                         "width": "80%"
                     },
                     {
                         "orderable": false,
                         "width": "120%"
                     }
                    ],
                    "order": [[1, "asc"]]
                }
            });

            gridEvent.setEvent(grid);
            gridEvent.setEvent(gridStatus);

            @*// begin first table
            var tableCm = $('#TableCM').DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": "@Url.Action()",
                "deferRender": true,
                "columns": [
                    {
                        "orderable": false,
                        "width": "3%"
                    },
                    {
                        "orderable": true
                    },
                    null,
                    {
                        "orderable": false
                    },
                    {
                        "orderable": false
                    },
                    {
                        "orderable": false,
                        "data": 6,
                    },
                    {

                        "targets": -1,
                        "data": 6,
                        "render": function (data) {
                            //$('.myId').val(data);
                            return '<a id="btnMembership"><i class="fa fa-edit fa-2x font-blue-soft"></i></a>';
                        },
                        "orderable": false,
                        "className": "td.center",
                        "width": "3%"
                    }
                ]
            });*@


            @*var tableStatus = $('#dtStatus').DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "@Url.Action("ActResult", "CalonMember")",
                    data: function (data) {
                        data.idDecimal = $('#myId').val() === "" ? 0 : $('#myId').val();
                    }
                },
                "deferRender": true,
                "filter": true,
                "lengthMenu": [5, 10, 25, 50, 75, 100],
                "pageLength": 25,
                "columns": [
                    {
                        "orderable": false,
                        "width": "80%"
                    },
                    {
                        "orderable": false,
                        "width": "80%"
                    },
                    {
                        "orderable": false,
                        "width": "80%"
                    },
                    {
                        "orderable": false,
                        "width": "120%"
                    }
                ],
                "order": [[1, "asc"]]
            });*@

            var tableStatus = gridStatus.getDataTable();
            var tableCm = grid.getDataTable();

            $(window).load(function () {
                var myId = $('#myId');
                myId.val('');
                tableStatus.ajax.reload();
            });

            $('#TableCM tbody').on('click', '#btnMembership', function () {
                var myId = $('#myId');
                var reloadDt = $(".reload");
                var data = (tableCm.row($(this).parents('tr')).data());
                myId.val(data[6]);
                var modalHead = "(" + data[6] + ") - " + data[6];
                $('#modalHead').html(modalHead);
                $(".addAct").attr('href', "@Url.Action("CreateAct", "CalonMember")" + "/" + myId.val()),
                tableStatus.ajax.reload();
                $('#mStatus').modal('show');
                return true;
            });

        });
    </script>
}

