@model DataObjects.Entities.tRuangKela
@{
    ViewBag.Title = "Edit Ruang Kelas";
}

<!-- BEGIN PAGE HEADER-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Master <small>Ruang Kelas</small></h1>
    </div>
</div>

@Html.Partial("_pageBreadcrumbs")
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN FORM PORTLET-->
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus"></i> Edit Ruang Kelas
                        </div>
                        <div class="tools">
                            <a href="" class="collapse">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Html.BeginForm("EditRuangKelas", "RuangKelas", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(m => m.RuangKelasID)
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NRuangKelas, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.NRuangKelas, new { @class = "form-control input-medium", placeholder = "Ruang Kelas" })
                                        @Html.ValidationMessageFor(m => m.NRuangKelas)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.BackGround, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.BackGround, new { @class = " colorpicker-background form-control input-medium", placeholder = "Color", value = "#ffffff" })
                                        @Html.ValidationMessageFor(m => m.BackGround)
                                    </div>
                                </div>

                                @*                                <div class="form-group">*@
                                @*                                    @Html.LabelFor(m => m.Map, new { @class = "col-md-2 control-label" })*@
                                @*                                    <div class="col-md-5">*@
                                @*                                        @Html.TextBoxFor(m => m.Map, new { @class = "form-control input-medium", placeholder = "Note" })*@
                                @*                                        @Html.ValidationMessageFor(m => m.Map)*@
                                @*                                    </div>*@
                                @*                                </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Kapasitas, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.Kapasitas, new { @class = "form-control input-medium", placeholder = "Kapasitas" })
                                        @Html.ValidationMessageFor(m => m.Kapasitas)
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-9">
                                        <button type="submit" class="btn btn-circle green bold"><i class="fa fa-check"></i> Simpan</button>
                                        <a href="@Url.Action("Index", "RuangKelas")" class="btn btn-circle red bold"><i class="fa fa-times"></i> Batal</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
@section Scripts {
    @Scripts.Render("~/bundle/script/jqueryval")
    <script>

        $(function () {
            //Metronic.init(); // init metronic core components
            //Layout.init(); // init current layout

            $('.colorpicker-background').colorpicker({
                format: 'hex'
            });

            $('input[name="Kapasitas"]').keyup(function (e) {
                if (/\D/g.test(this.value)) {
                    // Filter non-digits from input value.
                    this.value = this.value.replace(/\D/g, '');
                }
            });
        });

    </script>
}




